<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./index.css">
    <title>Document</title>
</head>

<body>
    <h1>Product Table</h1>

    <table id="products">
        <tr>
            <th>Ma SP</th>
            <th>Ten SP</th>
            <th>So Luong</th>
        </tr>
        <% for (let i=0; i<sanPhams.length; i++) {%>
            <tr>
                <td>
                    <%=sanPhams[i].id%>
                </td>
                <td>
                    <%=sanPhams[i].name%>
                </td>
                <td>
                    <%=sanPhams[i].quanlity%>
                </td>
            </tr>
            <% }%>



    </table>

</body>

</html>